
.topic {
    padding: 50px 0;
    margin-bottom: 0px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: flex-start;
    gap: 5px 80px;
    flex-wrap: wrap;
    margin-top: 0;
}

/* Box Styling */
.box {
    border: 1px solid #3e147a;
    border-radius: 20px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(165, 162, 162, 0.1);
    margin: 50px 0;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Hover effect for scale and color change */
.box:hover {
    transform: scale(1.1);
    background-color: #472569; /* Light color change when hovering */
    box-shadow: 0px 8px 20px rgba(87, 29, 128, 0.2);
}

/* Glowing effect on hover */
.box::after {
    content: "";
    position: absolute;
    top: -100%;
    left: -100%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 10%, transparent 50%);
    opacity: 0;
    transition: opacity 0.3s;
}

/* Hover glow effect */
.box:hover::after {
    opacity: 1;
}

.view-more-btn {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 15px;
    background-color: #46266d;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.view-more-btn:hover {
    background-color: #5b269b;
    transform: scale(1.05);
}

