.search-bar-container {
    margin: 10px;
    display: flex;
    flex-direction: row;  /* Align elements in a single row */
    justify-content: space-between; /* Space between filters and buttons */
    align-items: center; /* Align items vertically */
    padding: 20px;
    background: rgba(34, 34, 39, 0.37); /* Soft translucent purple background */
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(88, 88, 100, 0.37); /* Soft shadow */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 95%;
}

/*.search-bar-container {*/
/*    margin: 20px 0; !* Consistent margin *!*/
/*    padding: 20px;*/
/*    background: rgba(34, 34, 39, 0.8);*/
/*    border-radius: 10px;*/
/*    backdrop-filter: blur(10px);*/
/*    -webkit-backdrop-filter: blur(10px);*/
/*    border: 1px solid rgba(255, 255, 255, 0.18);*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between input and buttons */
}
.search-bar .button {
    padding: 8px 12px;
}
.search-bar input {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #1e1e2f;
    color: #fff;

}

.purple-btn {
    background-color: #6441a5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.purple-btn:hover {
    background-color: rgba(148, 14, 200, 0.8);
}

.tabs-container {
    display: flex;
    justify-content: flex-start; /* Align filters to the left */
    align-items: center;
    width: 100%;
}

.filters {
    display: flex;
    gap: 10px;
}

.buttons-container {
    display: flex;
    gap: 10px;
    margin-left: auto; /* Push buttons to the right */
}

.filters .filter {
    background-color: transparent;
    color: #fff;
    border: 1px solid #6441a5;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.filters .filter.active {
    background-color: #6441a5;
    color: white;
    border-color: #6441a5;
}
