.title{
    padding:10px;
    color: rgb(70, 12, 117)
    
    
}

.first-line, .second-line{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: larger;
    padding: 70px;
}

