.footer {
    background: #260543;
    color: white;
    padding: 20px 0;
    margin-top: 40px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for footer */
  }
  
  .footer p {
    margin: 5px;
    font-size: 14px;
  }